/**
 * Author:trucker
 * Github: https://github.com/trucker9
**/
:root {
  --main-bg-color:adb5bd
  ;
   
  --second-bg-color:#e9ecef;
  --secondary-color:#099268;
  --secondary--hover-color:#099268;

  --black-color:#000000
  ;
  --white-color:#ffffff;
  --body-text-color:#212529;
  --link-color:#f3f3f3
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--second-bg-color);
  padding: 40px 0px;
  color: var(--body-text-color);
}
* {
  box-sizing: border-box;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.typewriter {
  overflow: hidden;
  white-space: pre-line;
  margin: 0 auto;
  letter-spacing: 0.15em;
  border-right: 0.15em solid var(--black-color);
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--black-color);
  }
}

.scroll-btn {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background: transparent;
  color: var(--white-color);
  border: 2px solid var(--black-color);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 12px;
  background-color: var(--secondary-color);
}
.scroll-btn span {
  font-size: 12px;
  display: block;
  opacity: 50%;
}

.scroll-btn:hover {
  color: var(--black-color);
  background-color: var(--secondary--hover-color);

}
.about{
  text-justify: auto;
}

/* Adding a second section to scroll to */
.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

main {
  background-color: var(--main-bg-color);
  border: 1px solid var(--second-bg-color);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

a,
a:hover {
  color: var(--secondary-color);
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
}

.left-side {
  padding: 25px;
}

.profile {
  text-align: center;
  padding-bottom: 15px;
}

.profile h1 {
  padding-top: 20px;
  text-transform: uppercase;
}

.picture {
  background-repeat: no-repeat;
  background-size: cover;
}

.picture img {
  max-width: 100%;
}

.btn-cv {
  padding: 10px;
  color: var(--white-color);
  background-color: var(--secondary-color);
  width: 100%;
  border-radius: 0px;
}

.btn-cv:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  color: var(--black-color);
}

.social {
  padding: 0;
  list-style-type: none;
}

.social i {
  width: 20px;
}

.right-side {
  padding: 0px;
}

section {
  padding: 40px;
}

.section-title {
  font-weight:bold;
  text-transform: uppercase;
  margin-left: -5px;
}

.upper-row {
  position: relative;
  margin-bottom: 10px;
}

.company,
.school-name {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}

.time {
  font-size: 15px;
  font-weight: 500;
  color: var(--secondary-color);
  letter-spacing: -1px;
}

.job-title,
.school-title {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  font-weight: bold;
  
}
.sub-title{
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: bolder;
}
.job li,
section {
  font-size: 15px;
  margin: 0.5rem 0;
}

.job p {
  margin-left: 32px;
}
.job h3 {
  font-size: 18px;
}
.honors h3 {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}

.contact-form {
  padding-top: 5px;
}

.form-group input,
.form-group textarea {
  border-radius: 0px;
  border-color: var(--second-bg-color);
}

.form-control:focus {
  box-shadow: none;
  border-radius: 0px;
  border-color: var(--second-bg-color);
}
.courses li {
  margin-bottom: 12px;
}
.course {
  color: var(--body-text-color);
}
.course:hover {
  color: var(--secondary-color);
}
.course h3 {
  font-size: 15px;
}
footer {
  text-align: center;
  padding: 30px;
}

@media (max-width: 991.98px) {
  .right-side {
    border-top: 10px solid var(--second-bg-color);
  }
}

@media (min-width: 992px) {
  .left-side {
    border-right: 2px solid var(--second-bg-color);
  }

  .time {
    position: absolute;
    right: 0;
    top: 0;
  }

  header {
    /* fixed sidebar */
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
  }
}

.link {
  font-size: 12px;
  color: var(--link-color);
  text-decoration: underline;
}
